.layout-container {
  background: #f4f6fa;
  min-height: 100vh;
}

/* الوضع الافتراضي */
.page-content {
  padding: 35px;
}

/* صفحات بخلفية كاملة */
.page-content.full-bg {
  padding: 0;
  background: transparent;
}
