.layout-container {
  background: #f4f6fa;
  min-height: 100vh;
}

/* الوضع الافتراضي لكل الصفحات */
.page-content {
  padding: 35px;
}

/* ✨ صفحات خاصة (Full Width / Full Background) */
.page-content.full-bg {
  padding: 0;
}
